.toggle-button {
    -fx-color: #DCDCDC;
    -fx-text-fill: #778899;
}

.toggle-button:selected {
    -fx-color: #6495ED;
    -fx-text-fill: #D3D3D3;
    -fx-background-insets: 0;
}
.toggle-button:focused {
	-fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(100, 149, 237, 0.2); /* CORNFLOWER BLUE */
}

.button {
    -fx-color: #DCDCDC;
    -fx-text-fill: #778899;
}