#alive{
	-fx-fill: #6495ED; /* CORNFLOWERBLUE */
	-fx-stroke: #6495ED;
}
#dead{
	-fx-fill: transparent;
	-fx-stroke: transparent;
}
#field{
	-fx-background-color: #696969;
	-fx-border-color: #696969;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5) , 20, 10%, 0, 0);
}
#running-field{
	-fx-background-color: #696969;
	-fx-border-color: #696969;
	-fx-effect: dropshadow(gaussian, rgba(100, 149, 237, 0.5), 20, 10%, 0, 0); /* CORNFLOWERBLUE */
}
#back{
	-fx-background-color: #808080;
	-fx-border-color: #696969;
}